<div>
<p>Semaphore is environmental modelling made easy.</p>
<p>
Soils are a very valuable part of the Australian ecosystem. Healthy soils are crucial for a stable and biodiverse ecosystem but also for cropping and livestock farming. Understanding the dynamics of the ecosystem can aid environmental management decision and policy making.
</p>
<p>
Scientists study ecosystem dynamics by building models of how soils react to environmental factors such as management, weather and climate change and how this will impact nutrients in the soil such as nitrogen and carbon.
</p>
<p>
Predictive modelling can be extremely labour-intensive however.
Raw data needs preparation to be used as input in modelling software. Predicted results are then painstakingly compared to historical data to calibrate the software to local conditions.
</p>
<p>
Semaphore is a web based software tool that simplifies the environmental modelling process by assisting scientists to upload their data, run modelling tools and share it with others - all in the cloud. 
</p>
<p>
Semaphore is an Australian National Data Service (ANDS) <a href="https://projects.ands.org.au/getAllProjects.php?start=app">apps project</a>, funded by the <a href="http://www.ands.org.au">ANDS</a> and developed by the eResearch team at the <a href="http://www.qut.edu.au/institute-for-future-environments">Institute for Future Environments</a>, Queensland University of Technology.
Development of Semaphore is in collaboration with the Australian Centre for Ecological Analysis and Synthesis (<a href="www.aceas.org.au">ACEAS</a>) and consultation with researchers from the National Agricultural Nitrous Oxide Emissions Research in Australia research program (<a href="http://www.n2o.net.au">N2O network</a>).
</p>

<p>Click <a href="/login">here</a> to login and start running your experiments using Semaphore.</p>
</div>