html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
div#pageContainer {
  /* position:relative;  needed for footer positioning*/

  /* margin:0 auto; center, not in IE5 */

}
header {
  color: #f16100;
  background-color: #f2fd6f;
  padding: 20px 50px 0;
}
header a {
  color: #f16100;
  text-decoration: none;
}
header h1 {
  color: #f16100;
  font-size: 42px;
  margin: 0 0 10px;
  border-bottom: 1px solid black;
}
header h2 {
  color: #000;
  font-size: 16px;
  margin: 0 0 10px;
}
/** FOOTER **/
footer {
  overflow: hidden;
  padding: 10px 50px;
  background-color: #eec;
}
footer * {
  float: left;
}
footer .logo {
  display: block;
  outline: none;
  text-indent: -9999px;
  padding: 0;
  margin-left: 50px;
}
#logoQut {
  background: url(/images/logo_qut_ife.png) no-repeat 0 0;
  width: 300px;
  height: 60px;
}
#logoAnds {
  background: url(/images/logo_ands.png) no-repeat 0 0;
  width: 200px;
  height: 60px;
}
#mainMenu {
  background-color: #eec;
  height: 30px;
  font-size: 13pt;
  font-weight: bold;
}
/* Pure CSS nested dropdown menu*/
ul.nested-nav,
ul.nested-nav li {
  margin: 0px;
  padding: 0px;
}
ul.nested-nav li {
  float: left;
  display: inline;
  cursor: pointer;
  list-style: none;
  padding: 0px 10px 0px 10px;
  position: relative;
  line-height: 30px;
}
ul.nested-nav.nested-nav-root > li:hover > ul.nested-nav {
  left: -1px;
  top: 100%;
}
ul.nested-nav li,
ul.nested-nav li > a {
  color: #e11;
  text-decoration: none;
}
ul.nested-nav li > a {
  display: block;
  width: inherit;
  height: inherit;
}
ul.nested-nav ul.nested-nav li {
  width: 100%;
  text-indent: 10px;
  line-height: 30px;
  margin-right: 10px;
  background-color: #eec;
}
.nested-nav-root ul.nested-nav {
  display: none;
}
ul.nested-nav li:hover > a,
ul.nested-nav li:hover {
  color: #eec !important;
  background-color: #e11 !important;
}
ul.nested-nav li:hover > ul.nested-nav {
  display: block;
  position: absolute;
  width: 200px;
  top: 0px;
  left: 50%;
  z-index: 1000;
}
ul.nested-nav li:hover {
  position: relative;
  z-index: 2000;
}
#content {
  padding: 20px 50px;
}
label {
  display: block;
}
