<div id="mainMenu">
  <ul id="nav">
  <% mainMenu.forEach(function(mi, i){ %>
    <li>
    <a href="<%=mi.link%>"><%=mi.label%></a>
    <% if (mi.menu && mi.menu.length > 0) { %>
      <ul class="nav first">
      <% mi.menu.forEach(function(mi2){ %>
        <li>
          <a href="<%=mi2.link%>"><%=mi2.label%></a>
          <ul class="nav">
            <li>New</li>
            <li>List</li>
          </ul>
        </li>
      <% }) %>
      </ul>
    <% } %>
    </li>
  <% }) %>
  </ul>
</div>
