<% _.style(_.url.action('static')+'/experiment.css') %>

<script>
  //$.get('http://semaphore.n2o.net.au/exps?format=json', function(data){console.log(data)});
</script>

<div data-ng-app="experiment">

<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <a class="brand" href="#">Manage Experiment</a>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid" data-ui-view></div>
</div>
<!--
<hr>
<pre>
  $state = {{$state.current.name}}
  $stateParams = {{$stateParams}}
</pre>
-->

<script type="text/ng-template" id="experiments.html">
  <div class="span2">
    <div class="pa-sidebar well well-small">
      <h4>My Experiments</h4>
      <ul id="sideListMyExperiment" class="nav nav-list">
        <li data-ng-class="{ active: $state.includes('experiments.list') }"><a href="#"><strong>All Experiments</strong></a></li>
        <li data-ng-repeat="experiment in experiments" data-ng-class="{ active: $stateParams.expId == experiment._id  }">
          <a href="#/{{experiment._id}}" >{{experiment.name}}</a>
        </li>
      </ul>
      <hr/>
      <!--<button class="btn btn-primary" data-ng-click="newExp()"><i class="icon-white icon-plus-sign"></i>&nbsp;New Experiment</button>-->
      <a href="#/new" class="btn btn-primary"><i class="icon-white icon-plus-sign"></i>&nbsp;New Experiment</a>
    </div>
  </div>
  <div class="span10" data-ui-view></div>
</script>

<script type="text/ng-template" id="experiments.list.html">
  <h2>All Experiments </h2>
  <table class="table table-hover">
    <tr><th>Name</th><th>Description</th><th>Type</th><th>Keywords</th><th>Geographical Coverage</th><th>Temporal Coverage</th></tr>
    <tr ng-repeat="experiment in experiments">
      <td><a href="#/{{experiment._id}}">{{experiment.name}}</a></td>
      <td>{{experiment.desc}}</td>
      <td>{{experiment.workflow.name}}</td>
      <td>{{experiment.keywords.join(', ')}}</td>
      <td>{{experiment.geocov}}</td>
      <td>{{experiment.temcov}}</td>
    </tr>
  </table>    
</script>

<script type="text/ng-template" id="experiments.detail.html">
    <div class="row-fluid"> 
      <div class="span6">
        <div class="well well-small" data-ui-view="expMeta"></div>
      </div>
      <div class="span6" data-ng-show="$state.includes('experiments.detail.show')"> 
        <div class="well well-small" data-ui-view="expFiles"></div>
        <div class="well well-small" data-ui-view="expRuns"></div>
      </div>
    </div>
</script>

<script type="text/ng-template" id="experiments.form.html">
  <div class="well well-small"> 
    <div class="row-fluid"> 
      <div class="span6">
        <form name="expMetaForm">
          <div>
            <div class="pull-right">
              <button ng-click="save()" ng-disabled="isClean() || expMetaForm.$invalid" class="btn btn-primary">Save</button>
              <a href="javascript:window.history.back()" class="btn">Cancel</a>
              <button ng-click="destroy()" ng-show="experiment.id" class="btn btn-danger">Delete</button>
            </div>
            <h4 data-ng-show="experiment==null">New Experiment</h4>
            <h4 data-ng-show="experiment!=null">Edit Experiment</h4>
          </div>
          <br/>
          <div class="well well-small">
            <input type="hidden" name="_id" ng-model="experiment._id" />
            <div class="control-group" ng-class="{error: expMetaForm.name.$invalid}">
              <label for="name">Name</label>
              <input class="span10" type="text" name="name" ng-model="experiment.name" required />
              <span ng-show="expMetaForm.name.$error.required" class="help-inline">Required</span>
            </div>
            <label for="workflow">Type</label>
            <select  class="span10" name="workflow" ng-options="wf._id as wf.name for wf in workflows" ng-model="experiment.workflow"></select>
            <label for="desc">Description</label>
            <textarea class="span10" name="desc" ng-model="experiment.desc"></textarea>
            <label for="keywords">Keywords</label>
            <input class="span10" type="text" name="keywords" ng-model="experiment.keywords" ng-list/>
            <label for="geocov">Geographic Coverage</label>
            <input class="span10" type="text" name="geocov" ng-model="experiment.geocov"/>
            <label for="tempcov">Temporal Coverage</label>
            <input class="span10" type="text" name="tempcov" ng-model="experiment.temcov"/>
          </div>
        </form>
      </div> <!-- span6 -->
    </div> <!-- row-fluid -->
  </div> <!-- well -->
</script>

<script type="text/ng-template" id="experiments.show.html">
  <div class="well well-small"> 
    <div class="row-fluid"> 
      <div class="span12">
        <div class="pull-right">
          <a href="#/{{experiment._id}}/edit" class="btn btn-primary"><i class="icon-white icon-edit"></i>&nbsp;Edit</a>
          <a href="#/{{experiment._id}}/delete" class="btn btn-primary"><i class="icon-white icon-remove"></i>&nbsp;Delete</a>
        </div>
        <h4>Experiment {{experiment.name}}</h4>
      </div>
    </div>
    <div class="row-fluid"> 
      <div class="span4">
        <div class="well well-small"> 
          <h5>Metadata</h5>
          <dl>
            <dt>Name</dt>
            <dd>{{experiment.name}}</dd>
            <dt>Type</dt>
            <dd>{{experiment.workflow.name}}</dd>
            <dt>Description</dt>
            <dd>{{experiment.desc}}</dd>
            <dt>Keywords</dt>
            <dd>{{experiment.keywords.join(', ')}}</dd>
            <dt>Geographic Coverage</dt>
            <dd>{{experiment.geocov}}</dd>
            <dt>Temporal Coverage</dt>
            <dd>{{experiment.temcov}}</dd>
          </dl>
        </div>
      </div> <!--span4-->
      <div class="span4">
        <div id="panelInputFiles" class="well well-small">
          <button class="btn btn-primary pull-right" ng-click="open()"><i class="icon-white icon-plus-sign"></i>&nbsp;Add</button>
          <h5>Input Files</h5>
          <table class="table">
            <thead>
              <tr><th><input type="checkbox" ng-model="masterSelect" ng-change="selectAllFiles()"/></th><th>File Name<br/>Revision (Year-Month-Day)</th><th></th></tr>
            </thead>
            <tbody>
            <tr ng-repeat="file in experiment.files">
              <td><input type="checkbox" ng-model="selectedInputFiles[$index]"/></td>
              <td>
                {{file.name}} <br/>
                <select name="version" ng-options="ver.label for ver in file.versions" ng-model="file.version"></select>
              </td>
              <td>
                <a data-ng-href="{{file.getUrl()}}" target="_blank" title="Download"><i class="icon-download"></i></a>&nbsp;
                <a data-ng-click="viewInput(file)" title="View"><i class="icon-eye-open"></i></a>&nbsp;
                <a data-ng-click="removeInput(file)" title="Delete"><i class="icon-remove"></i></a>&nbsp;
              </td>
            </tr>
            </tbody>
          </table>    
        </div>
      </div>
      <div class="span4">
        <div id="panelRun" class="well well-small">
          <h5>Experiment Runs</h5>
          <form>
            <fieldset><legend>Create new run</legend>
            <label for="runName">Name (optional): </label>
            <input type="text" name="runName" ng-model="newRun.name" placeholder="{{newRun.defName}}"/>
            <label for="runDesc">Description (optional): </label>
            <textarea name="runDesc" ng-model="newRun.desc"></textarea>
            <br/>
            <button class="btn btn-primary" data-ng-click="run()"><i class="icon-white icon-play"></i>&nbsp;Run Experiment</button>
            </fieldset>
          </form>
          <h6>Run History</h5>
          <table class="table table-condensed">
            <thead>
              <tr><th>Timestamp</th><th>Name</th><th>Status</th></tr>
            </thead>
            <tbody>
            <tr ng-repeat="run in experiment.runs">
              <td>{{run.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</td><td><a title="{{run.desc}}" data-ng-click="openViewRun(run)">{{run.name}}</a></td><td>{{run.status}}</td>
            </tr>
            </tbody>
          </table>    
        </div>
      </div>
    </div> <!--row-fluid-->
  </div>
  <div id="panelAddInput" modal="modalAddInput" close="close()" options="opts">
    <div class="modal-header"><h4>Add Input File</h4></div>
    <div class="modal-body">
      <p>Upload an existing file.</p>
      <div class="btn-group">
        <button type="button" class="btn btn-info" ng-model="uploadType" btn-radio="'localUpload'" title="Upload file in local computer">Local upload</button>
        <button type="button" class="btn btn-info" ng-model="uploadType" btn-radio="'remoteUpload'" title="Upload file in remote computer">Remote upload</button>
      </div>      
      <form ng-upload action="/exps/{{experiment._id}}/uploadInput" data-ng-show="uploadType=='localUpload'"> 
        <input type="hidden" name="uploadType" value="localUpload"/>
        <label for="inputFiles">Upload File: </label>
        <input type="file" name="inputFiles" multiple></input><br/>
        <div id="selectedInputFiles" data-ng-show="files">
          <p><strong>Selected File(s):</strong></p>
          <ul class="unstyled"><li ng-repeat="f in files">{{f.name}}</li></ul>
        </div>
        <div data-ng-show="uploading">Uploading files.. Please wait..</div>        
        <input class="btn btn-primary" type="submit" value="Upload" upload-submit="results(content, completed)" ng-disabled="isFileSelected()"></input>
      </form>
      <form name="formUploadRemote" data-ng-show="uploadType=='remoteUpload'"> 
        <label for="filename">File name: </label>
        <input type="text" name="filename" data-ng-model="remote.filename"></input>
        <label for="url">Remote file URL: </label>
        <input type="url" name="url" data-ng-model="remote.url"></input>
        <div data-ng-show="uploading">Uploading files.. Please wait..</div>        
        <button class="btn btn-primary" type="button" data-ng-click="addRemote('remoteUpload')" >Upload</button>
        <button class="btn btn-primary" type="button" data-ng-click="addRemote('remoteLink')" >Link</button>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning cancel" ng-click="close()">Close</button>
    </div>
  </div>
  <div id="panelViewRun" modal="modalViewRun" close="closeViewRun()" options="opts">
    <div class="modal-header"><h4>{{expRun.name}}</h4></div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning cancel" ng-click="closeViewRun()">Close</button>
    </div>
  </div>  
  
</script>

</div> <!--data-ng-app=experiment-->

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.2.0/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="/scripts/angular-ui-router.min.js"></script>
<script type="text/javascript" src="/scripts/ng-upload.min.js"></script>

<script>
function findById(arr, id) {
  for (var i=0; i<arr.length; ++i) {
    if (arr[i]._id == id) return arr[i];
  }
}
function findByAttr(attr,a, id) {
  for (var i=0; i<a.length; i++) {
    if (a[i][attr] == id) return a[i];
  }
}

function findMultipleById(a, id) {
var temp = Array();
  for (var i=0; i<a.length; i++) {
    if (a[i].id == id) temp.push( a[i] );
  }
  return temp;
}

function expController($scope, $state, Experiment) {
  $scope.experiments = Experiment.query();
}

function createInputUrl(file, expId) {
//  if (file.version.url) return file.version.url;
  return '/exps/' + expId + '/input/' + file.name + '/' + file.version.id;
}

function expShowController($scope, $filter, $http, $stateParams, Experiment) {
  function processFiles(files) {
    angular.forEach(files, function(file) {
      file.version = file.versions[file.versions.length-1];
      file.getUrl = function() {
        return createInputUrl(this, $scope.experiment._id);
      };
      angular.forEach(file.versions, function(ver, i) {
        ver.label = '' + (i+1) + ' (' + $filter('date')(ver.id, 'yyyy-MM-dd HH:mm:ss') + ')';
      });
    });
    return files;
  }
  function createNewRun() {
    var defName = 'Run ' + ($scope.experiment.runs.length + 1);
    $scope.newRun = {defName:defName};
  }
  
  $scope.experiment = Experiment.get({id:$stateParams.expId}, function(){
    processFiles($scope.experiment.files);
    var defName = 'Run ' + ($scope.experiment.runs.length + 1);
    createNewRun();
    $scope.selectedInputFiles = $scope.experiment.files.map(function(){return false;});
  });
  
  $scope.remote = {};
  $scope.formUploadRemote = {};
  $scope.masterSelect = false;
  $scope.selectAllFiles = function() {
    $scope.selectedInputFiles.forEach(function(val, index, arr){
      arr[index] = $scope.masterSelect;
    });
  };
  $scope.viewInput = function(file) {
    console.log(file);
  };
  $scope.removeInput = function(file) {
    console.log(file.getUrl());
    $http.delete(file.getUrl())
    .success(function(data){
      //console.log(data);
      $scope.experiment.files = processFiles(data);
    });
  };
  
  $scope.addRemote = function(uploadType) {
    $scope.uploading = true;
    $scope.remote.uploadType = uploadType;
    console.log($scope.remote);
    $http.post('/exps/'+$scope.experiment._id+'/uploadInput', $scope.remote)
    .success(function(data){
      console.log(data);
      $scope.experiment.files = processFiles(data);
      $scope.uploading = false;
      $scope.modalAddInput = false;
      $scope.remote = {};
    });
  };
  
  $scope.open = function () {
    $scope.modalAddInput = true;
  };
  $scope.close = function () {
    //$scope.closeMsg = 'I was closed at: ' + new Date();
    $scope.modalAddInput = false;
    $scope.files = null;
  };
  $scope.opts = {
    backdropFade: true,
    dialogFade:true
  };
  //console.log($('input[type="file"]'));
  $(document).on('change', 'input[type="file"]', function() {
    $scope.files = $('input[type="file"]').prop('files');
    if (!$scope.files) $scope.files = [$('input[type="file"]').val()];
    $scope.$apply();
  });
  $scope.isFileSelected = function() {
    return !$('input[type="file"]').val();
  };  
  $scope.results = function(content, completed) {
    //console.log('content:'+content);
    //console.log('completed:'+completed);
    if (completed && content.length > 0) {
      var files = JSON.parse(content);
      //console.log(files); // process content
      $scope.experiment.files = processFiles(files);
      $scope.uploading = false;
      $scope.modalAddInput = false;
    } else {
      //console.log('Uploading..');
      $scope.uploading = true;
      // 1. ignore content and adjust your model to show/hide UI snippets; or
      // 2. show content as an _operation progress_ information
    }
  };
  $scope.uploadType='localUpload';
  
  console.log('create run');
  $scope.run = function() {
    var name = $scope.newRun.name || $scope.newRun.defName;
    $scope.experiment.runs.push({timestamp:Date.now(), name:name, desc:$scope.newRun.desc, status:'run'});
    createNewRun();
  };
  $scope.openViewRun = function(run) {
    $scope.expRun = run;
    $scope.modalViewRun = true;
  };  
  $scope.closeViewRun = function() {
    $scope.modalViewRun = false;
  };  
}

function expEditController($scope, $state, $stateParams, Workflow, Experiment) {
  var self = this;
  $scope.experiment = Experiment.get({id:$stateParams.expId}, function(){
    $scope.experiment.workflow = $scope.experiment.workflow._id;
  });
  $scope.workflows = Workflow.query();
  $scope.expMetaForm = {};
  $scope.save = function() {
    Experiment.update($scope.experiment, function(exp) {
      //console.log(exp);
      exp.workflow = findById($scope.workflows, exp.workflow);
      var oldexp = findById($scope.experiments, exp._id);
      angular.extend(oldexp, exp);
      $state.transitionTo('experiments.show', { expId:exp._id});
    });
  };
}

function expNewController($scope, $state, Workflow, Experiment) {
  var self = this;
  $scope.workflows = Workflow.query();
  $scope.expMetaForm = {};
  $scope.save = function() {
    //console.log($scope.experiment);
    //console.log($scope.expMetaForm);
    Experiment.save($scope.experiment, function(exp) {
      //console.log(exp);
      $scope.experiments.push(exp);
      $state.transitionTo('experiments.show', { expId:exp._id});
    });
  };
  $scope.isClean = function() {
    return angular.equals(self.original, $scope.expMetaForm);
  };
  $scope.cancelLink = 'back';
}


angular.module('expServices', ['ngResource'])
  .factory('Experiment', ['$resource', function($resource){
    return $resource('/exps/:id', {id:'@_id'}, {
      update: { method:'PUT' }
    });
  }])
  .factory('Workflow', ['$resource', function($resource){
    return $resource('/exps.wf/:id', {}, {});
  }])
;
angular.module('experiment', ['ui.bootstrap', 'ui.state', 'ngUpload', 'expServices'])
  .config(['$stateProvider', '$routeProvider', '$urlRouterProvider', '$locationProvider',
    function ($stateProvider, $routeProvider, $urlRouterProvider, $locationProvider) {
      $stateProvider
        .state('experiments', {
          abstract: true,
          url: '',
          templateUrl: 'experiments.html' ,
          controller: [ '$scope', '$state', 'Experiment', expController]
        })
        .state('experiments.list', {
          url: '',
          templateUrl: 'experiments.list.html'
        })
        .state('experiments.new', {
          url: '/new',
          templateUrl: 'experiments.form.html',
          controller: [ '$scope', '$state', 'Workflow', 'Experiment', expNewController]
        })
        .state('experiments.show', {
          url: '/{expId}',
          templateUrl: 'experiments.show.html',
          controller: [ '$scope', '$filter', '$http', '$stateParams', 'Experiment', expShowController]
        })
        .state('experiments.edit', {
          url: '/{expId}/edit',
          templateUrl: 'experiments.form.html',
          controller: [ '$scope', '$state', '$stateParams', 'Workflow', 'Experiment', expEditController]
        })
        ;
    }
  ])
  .run(['$rootScope', '$state', '$stateParams',
      function ($rootScope, $state, $stateParams) {
        $rootScope.$state = $state;
        $rootScope.$stateParams = $stateParams;
      }
  ]);
</script>
